<div id="books" class="row view-group">
    <div class="item col-xs-4 col-lg-4">
        <div class="thumbnail card">
            <div class="caption card-body">
                <h4 class="group card-title inner list-group-item-heading">
                    {{ title}}</h4>
                <p class="group inner list-group-item-text">
                    {{post_url}} </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" href="">view book post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>