<div>
<h1 class="form-label">Book Name</h1>
{{> post-info post }}
<div class="single-post-info">
{{ post.description }}
</div>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body" class="form-control" row="5"></textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}

</div>